@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.navbar .navbar-container {
	height: 70px;
	display: flex;
	justify-content: space-between;
	margin: 1rem 3rem;
	z-index: 2;
}

.navbar .logo-container {
	align-items: center;
	display: inline-flex;
	background: rgb(103, 58, 183);
	background: linear-gradient(90deg, rgba(103, 58, 183, 1) 0%, rgba(74, 20, 140, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar .logo {
	font-size: 2rem;
	font-family: "Audiowide", sans-serif;
}

.navbar .rights-reserved {
	margin-bottom: 10px;
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .navbar-items {
	display: flex;
	gap: 30px;
	align-items: center;
}

.navbar .navbar-items .each-item {
	font-family: inherit !important;
	text-decoration: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.3rem;
	vertical-align: bottom;
	letter-spacing: 1px;
}

.navbar .navbar-items svg {
	margin-top: 5px;
}

.navbar .navbar-items div::before,
.navbar .navbar-items div::after {
	transition: all 0.5s;
}

.navbar .navbar-items div::after {
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: ".";
	color: transparent;
	background: #dc1e1e;
	height: 3px;
}

.navbar .navbar-items div:hover::after {
	width: 100%;
}

.navbar .navbar-items .contact {
	border: 1px white solid;
	padding: 10px;
	display: inline-flex;
	align-items: center;
	border-radius: 0px;
}
