.project {
	border-start-start-radius: 10px;
	border-start-end-radius: 10px;
	width: 400px;
	border: 1px solid #2a2a2a;

	/* padding: 0rem 1rem 1rem 1rem; */
	/* background-color: red; */
}

.thumbnail-container {
	height: 250px;
}

.thumbnail-container img {
	height: 100%;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.project .name-container {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.project .desc-container {
	margin-top: 1rem;
	font-size: 1.2rem;
}

.project .project-skills {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project .description-container {
	padding: 1rem;
}

.project .action-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 15px;
	font-weight: bold;
	border-top: 1px solid #2a2a2a;
	padding: 0.5rem 1rem;
}

.project .github,
.project .view {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	color: white;
}

.project .view {
	cursor: pointer;
}

.project .github:hover,
.project .view:hover {
	font-size: 1.03rem;
}

.project .view .view-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
